@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Jost', sans-serif;
    background-color: #EEEEEE;
    padding-top: 1em;
}

table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid rgb(136, 136, 136);
    padding: 0.5em;
    text-align: center;
}

nav.navbar {
    background-color: rgb(202, 202, 202);
    text-align: center;
}

nav.navbar h1 {
    font-size: 2em;
    margin: 0 1em;
}

@media screen and (max-width: 400px) {
    nav.navbar h1 {
        font-size: 1em;
    }
}