@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Jost', sans-serif;
  background-color: #EEEEEE;
  padding-top: 1em;
}

nav.navbar {
    background-color: rgb(202, 202, 202);
    text-align: center;
}

nav.navbar h1 {
    font-size: 2em;    
}
